<html>
	<head>
		<title>
			Eden Bakery | Cupcakes & Cookies
		</title>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/amelia/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/responsive.css">
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand">Eden Bakery</a>
					<!-- This is the little hamburger you will see on the mobile version of the website -->
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="http://edenbeginnings.wordpress.com/" target="_blank">Blog</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Baking Gallery <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<li><a href="cakes.html">Cakes</a></li>
								<li class="divider"></li>
								<li><a href="cupcakes.html">Cupcakes</a></li>
								<li class="divider"></li>
								<li><a href="pastries.html">Pastries</a></li>
							</ul>
						</li>
						<li>
							<a href="mailto:hello@edenbakery.co.uk?subject=About Eden Bakery">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-title">
			<h2>Cupcakes & Cookies</h2>
		</div>
		<div id="gal-container">
				<ul id="gallery">
					<li>
						<a href="../public/images/cupcakes_cookies/giant_vanilla_cupcake.jpg">
							<img src="../public/images/cupcakes_cookies/giant_vanilla_cupcake.jpg" alt="Giant Vanilla Cupcake">
							<p>Giant Vanilla Cupcake</p>
						</a>
					</li>
					<li>
						<a href="../public/images/cupcakes_cookies/mini_egg_cookies.jpg">
							<img src="../public/images/cupcakes_cookies/mini_egg_cookies.jpg" alt="Mini Egg Chocolate Chip Cookies">
							<p>Mini Egg Chocolate Chip Cookies</p>
						</a>
					</li>
				</ul>
		</div>
		<footer>
		    <div class="container">
		    	<p>&copy; 2014 Eden Bakery</p>
		        <a href="http://bootswatch.com/amelia/" target="_blank">The Amelia Theme at Bootswatch</a>
		    </div>
		</footer>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>
</html>